.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0.35rem 0.5rem;
  max-width: 65ch;
}

.nav a {
  padding: 0.38rem 1rem;
  margin: 0;
  border: 1.5px solid #37353f;
  background: #fc8b93;
  color: #1c2334;
  box-shadow: 3px 3px 0 0 #37353f;
  font-family: 'Chelsea Market', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
}

/* a:focus {
  outline: dotted 2px blue;
} */
