.instructions-group {
  padding: 1rem;
}

@media (min-width: 64em) {
  .instructions-group {
    min-width: 42rem;
  }
}

.instructions-group__inner > * + * {
  margin-top: 7.4rem;
}

.instructions-group__inner h2 {
  max-width: 31ch;
  font-size: 1.25rem;
}

.instruction p + p {
  margin-top: 1rem;
}

.instruction > * + * {
  margin-top: 0.8rem;
}

.instruction__header {
  --space: 1rem;
}

.instruction__header > * {
  display: flex;
  justify-content: flex-start;
  margin: calc(var(--space) / 2 * -1);
}

.instruction__header > * > * {
  margin: calc(var(--space) / 2);
}

.instruction__header span {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.1rem 1rem;
  border: 2px solid #282828;
  border-radius: 50%;
  font-family: 'Chelsea Market', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 2.25rem;
}

.default-view-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}
