.slider-group__inner {
  position: relative;
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
}

.slider-group__inner > * + * {
  margin-top: 3rem;
}

.slider-group__inner h4 {
  text-align: center;
  font-size: 1.25rem;
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: 400;
}

.slider-group__inner__wrapper {
  margin-top: var(--s0);
  text-align: center;
}

.slider-group__inner__wrapper * + h1 {
  --s2: 1rem;
  margin-top: var(--s2);
}

.slider-group__inner__wrapper h1 {
  --s2: 1rem;
  font-size: var(--s2);
  font-family: Georgia, serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: var(--line-height);
}

.slider-legend {
  padding: 0;
}

.slider-legend li {
  margin-top: 1rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.slider {
  width: 100%;
  max-width: 400px;
  max-width: 300px;
  height: 50px;
  margin: 0 auto;
}

.slider + * {
  margin-top: 5rem;
}

div[class^="thumb"] {
  width: 50px;
  height: 48px;
  padding: 0.38rem 1rem;
  border: 2px solid #282828;
  border-radius: 50%;
  background-color: rgb(255, 237, 247);
  color: #09162c;
  font-size: 0.8rem;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}

div[class^="track"] {
  position: relative;
  top: 20px;
  height: 2px;
  background-color: #37353f;
}
