/*--------------------------------------------------------------------------*\
                            RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
                            GLOBAL
\*--------------------------------------------------------------------------*/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
  color: #1c2334;
  font-family: Barlow Condensed, Helvetica, sans-serif;
  font-family: code-saver, monospace;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}

header {
  padding: 0.4rem 0 0.8rem 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main + * {
  margin-top: 1rem;
}

.gap-top-700 {
  margin-top: 1rem;
}

.app-content {
  position: relative;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.search__error h2 {
  text-align: center;
}

/*--------------------------------------------------------------------------*\
                            SEARCHBAR
\*--------------------------------------------------------------------------*/

.search-controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.search-controls__inner {
  position: relative;
}

.search-controls input {
  padding: 0.25rem 1rem;
  border: 2px solid #263147;
  border-radius: 0.375rem;
  outline-color: #404040;
  color: #002f3c;
  background: none;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
}

.search-controls input:focus {
  outline: 2px solid transparent;
  box-shadow: 0 0 0 2pt #f586ae;
}

.search-controls input::placeholder {
  color: #18191f;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: left;
}

.search-controls input:-ms-input-placeholder {
  color: #18191f;
  opacity: 0.5;
  font-family: code-saver, monospace;
  font-size: 0.8rem;
  font-weight: 900;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
}

input:focus::placeholder {
  color: transparent;
}

.search-controls__error h2 {
  color: #002f3c;
  font-size: 1rem;
  line-height: 1;
}

.search-controls button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: transparent;
  color: #002f3c;
  font-weight: 700;
  cursor: pointer;
}

.icon-search {
  display: inline-block;
  vertical-align: text-top;
  margin-top: 0.1em;
  height: 1em;
  width: 1em;
  cursor: pointer;
  fill: currentColor;
}

/*--------------------------------------------------------------------------*\
                            NAV
\*--------------------------------------------------------------------------*/

footer {
  margin-top: auto;
  text-align: center;
}
nav {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0.15rem 0.5rem;
  max-width: 65ch;
}

.nav a {
  color: #1c2334;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
  color: #1c2334;
  font-size: 1rem;
  font-weight: 700;
  font-family: code-saver, monospace;
}

a.active {
  text-decoration: underline;
}

a:focus {
  outline: dotted 2px blue;
}

/*--------------------------------------------------------------------------*\
                            MAP
\*--------------------------------------------------------------------------*/
.map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #002f3c;
  border-radius: 0.125rem;
  background-color: white;
  box-shadow: 10px 10px 0 -1px #fff, 10px 10px 0 #191a1b;
  box-shadow: 5px 5px 0 #191a1b;
}

.map-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.map-icon:after {
  content: '▼';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 20px;
  left: 6px;
  color: rgba(0, 48, 61, 0.9);
}

.map-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid #1c2334;
  border: 2px solid rgba(0, 48, 61, 0.35);
  background: grey;
  background: rgba(0, 48, 61, 0.75);
  border: 0 solid #002f3c;
  border-style: solid;
  border-radius: 9999px;
  border-width: 2px;
  height: 2rem;
  position: absolute;
  top: -0.5rem;
  width: 2rem;
}

.map-icon svg {
  transform: rotate(90deg);
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-top: -4px;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.user-icon {
  width: 3.75em;
  height: 3.75em;
  border-radius: 50%;
  color: #454ade;
  background-color: rgba(248, 59, 248, 0.5);
  cursor: pointer;
}

/*--------------------------------------------------------------------------*\
                            CARD LIST
\*--------------------------------------------------------------------------*/

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  padding: 0;
  margin: 0;
  background-color: white;
}

.list__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 25ch;
  border: 1px solid;
  border-radius: 0.25rem;
  overflow: hidden;
}

.list__item .image {
  height: 6.5rem;
}

.list__item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list__item .text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.list__item .text > * + * {
  margin-top: 0.75rem;
}

.list__item .text :last-child {
  margin-top: auto;
}

.list__item .text :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

.item__title {
  font-size: 1.2rem;
}

/*--------------------------------------------------------------------------*\
                            DIALOG
\*--------------------------------------------------------------------------*/

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

[role='dialog'] {
  padding: 2.5rem;
  border: 2px solid;
  border-radius: 0.25rem;
  background-color: #fff;
}

[data-reach-dialog-content] {
  min-width: 100vw;
  margin: 0 auto;
  background: white;
  outline: none;
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 43rem) {
  [data-reach-dialog-content] {
    min-width: 45vw;
    margin: 10vh auto;
  }
}

.dialog__button {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 0;
}

.dialog__button svg {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.dialog__image {
  --height: 9;
  --width: 16;
  padding-bottom: calc(var(--height) / var(--width) * 100%);
  position: relative;
}

.dialog__image > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.dialog__body__link {
  color: #1c2334;
  text-decoration: underline;
}

.dialog__body__link:hover {
  font-weight: 700;
}

/*--------------------------------------------------------------------------*\
                            BUTTONS
\*--------------------------------------------------------------------------*/

button:focus {
  outline-color: rgba(255, 189, 18, 0.8);
}

button:hover:active {
  color: #18191f;
}

button:hover:enabled {
  color: #18191f;
}

.share-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.stop-btn {
  margin: 0.2rem 0 0 0.5rem;
}

.share-btn,
.stop-btn {
  padding: 0.25rem 1rem;
  background-color: rgba(255, 255, 255, 1);
  border-width: 2px;
  box-shadow: 3px 3px 0 #002f3c;
  font-family: code-saver, monospace;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
}

.location-controls {
  padding: 0.4rem 0 0.8rem 1rem;
}

/*--------------------------------------------------------------------------*\
                           Settings
\*--------------------------------------------------------------------------*/

.settings__title {
  text-align: center;
}

.settings__title + * {
  margin-top: 1rem;
}

.settings__explanation {
  text-align: center;
}

.settings__options {
  text-align: center;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings__title,
.settings__options {
  text-rendering: optimizeSpeed;
  color: #1c2334;
  line-height: 1.5;
  font-size: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  font-family: atkinson_hyperlegible, Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  margin-top: var(--flow-space, clamp(1.09rem, 1rem + 0.47vw, 1.33rem));
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  max-width: 400px;
  height: 50px;
  margin: 0 auto;
}

.slider + * {
  margin-top: 5rem;
}

.thumb {
  box-sizing: border-box;
  top: 1px;
  width: 50px;
  height: 48px;
  border: 5px solid gray;
  background-color: grey;

  color: white;
  font-size: 0.9em;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  border-radius: 50%;
}

.track {
  position: relative;
  top: 20px;
  height: 5px;
  background: #ddd;
}

.track-1 {
  background: #1c2334;
  background-color: gray;
}

.gm-fullscreen-control {
  display: none;
}
