/*--------------------------------------------------------------------------*\
    RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
           Global
\*--------------------------------------------------------------------------*/

body {
  margin: 0;
  line-height: 1.5;
  color: #1c2334;
  font-family: Barlow Condensed, Helvetica, sans-serif;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.app__content {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.12;
  text-align: center;
}

main > h1 + * {
  margin-top: 1rem;
}

.section__content {
  overflow-y: auto;
  padding: 0 0.5rem;
}

.search__error h2 {
  text-align: center;
}

/*--------------------------------------------------------------------------*\
           Map
\*--------------------------------------------------------------------------*/

.map {
  height: 100%;
}

.map-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 2px solid #1c2334;
  background: grey;
}

.map-icon svg {
  transform: rotate(90deg);
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-top: -4px;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.user-location-icon {
  width: 3.75em;
  height: 3.75em;
  border-radius: 25px;
  background-color: rgba(248, 59, 248, 0.5);
  cursor: pointer;
}

/*--------------------------------------------------------------------------*\
      Navigation
\*--------------------------------------------------------------------------*/

footer {
  margin-top: auto;
  text-align: center;
}

nav {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0.15rem 0.5rem;
  max-width: 65ch;
}

.nav a {
  color: #1c2334;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  text-decoration: none;
}

a.active {
  text-decoration: underline;
}

/*--------------------------------------------------------------------------*\
   CARD LIST
\*--------------------------------------------------------------------------*/

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.list__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 40ch;
  border: 1px solid;
  border-radius: 0.25rem;
  overflow: hidden;
}

.list__item .image {
  height: 6.5rem;
}

.list__item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list__item .text {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.list__item .text > * + * {
  margin-top: 0.75rem;
}

.list__item .text :last-child {
  margin-top: auto;
}

.list__item .text :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

/*--------------------------------------------------------------------------*\
   DIALOG
\*--------------------------------------------------------------------------*/

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

[role='dialog'] {
  padding: 2.5rem;
  border: 2px solid;
  border-radius: 0.25rem;
  background-color: #fff;
}

[data-reach-dialog-content] {
  min-width: 100vw;
  margin: 0 auto;
  background: white;
  outline: none;
  z-index: 1;
  position: relative;
}

@media screen and (min-width: 43rem) {
  [data-reach-dialog-content] {
    min-width: 45vw;
    margin: 10vh auto;
  }
}

.dialog__button {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  line-height: 0;
}

.dialog__button svg {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.dialog__image {
  --height: 9;
  --width: 16;
  padding-bottom: calc(var(--height) / var(--width) * 100%);
  position: relative;
}

.dialog__image > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid black;
}

.dialog__body__link {
  color: #1c2334;
  text-decoration: underline;
}

.dialog__body__link:hover {
  font-weight: 700;
}

/*--------------------------------------------------------------------------*\
  BUTTONS
\*--------------------------------------------------------------------------*/

button:focus {
  outline-color: rgba(255, 189, 18, 0.8);
}

button:hover:active {
  color: #18191f;
  background: rgba(255, 189, 18, 0.4);
}

button:hover:enabled {
  color: #18191f;
  background: rgba(255, 189, 18, 0.4);
}

.share-btn,
.stop-btn {
  margin: 0.15rem 0.5rem;
  padding: 0.3rem 0.4rem 0.2rem;
  border: 2px solid #474a57;
  border-radius: 8px;
  background: #eeeff4;
  color: #1c2334;
  font-size: 0.8rem;
  font-weight: 900;
  line-height: 1.5;
  cursor: pointer;
}

.share-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

nav {
  padding: 50px;
}
