/*--------------------------------------------------------------------------*\
                            RESET
\*--------------------------------------------------------------------------*/

*,
::after,
::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #1c2334;
}

a:focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px,
    rgb(0, 173, 159) 0px 0px 0px 5px;
  outline: 3px solid transparent;
  outline-offset: 1px;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  ::after,
  ::before {
    animation-duration: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important;
  }
}

/*--------------------------------------------------------------------------*\
                            GLOBAL
\*--------------------------------------------------------------------------*/

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: #09162c;
  font-family: Barlow Condensed, Helvetica, sans-serif;
  line-height: 1.5;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  height: 100vh;
  max-width: 75rem;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .app {
    padding: 1rem;
  }
}

main {
  overflow: hidden;
  border: 1.5px solid #37353f;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  background-color: #965784;
  background-size: 10px 10px, 10px 10px;
  background-position: 0 0, 5px 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.app__inner {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: rgba(252, 139, 147, 0.3);
  background-image: radial-gradient(circle, #fc8b93 20%, transparent 20%),
    radial-gradient(circle, #fc8b93 20%, transparent 20%);
  background-size: 10px 10px, 10px 10px;
  background-position: 0 0, 5px 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.content {
  overflow-y: auto;
  border: 1.5px solid #37353f;
  border-radius: 0 0 125px 3px/3px 85px 5px 55px;
  background: rgb(255, 237, 247);
  box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
}

.content__inner {
  margin-top: 3rem;
}

.gap-top {
  margin-top: 0.6rem;
}

@media (min-width: 48em) {
  .splitter {
    display: flex;
  }
}

@media (min-width: 48em) {
  .splitter > * {
    flex-grow: 1;
  }
}

.splitter > :last-child {
  margin-top: 1.33rem;
}

@media (min-width: 48em) {
  .splitter > :last-child {
    margin-top: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation: fade 1000ms ease-in-out 0.6s both;
}

.search-error h2 {
  color: #002f3c;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

.search-error span {
  background-color: rgba(233, 228, 240, 0.6);
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent 25%,
    #feac5e 25%,
    #feac5e 31%,
    transparent 31%,
    transparent 52%,
    #c779d0 52%,
    #c779d0 57%,
    transparent 58%,
    transparent 80%,
    #4bc0c8 80%,
    #4bc0c8 85%,
    transparent 85%
  );
}
